body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #FEFCFE;
    color: #2B3541;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 65px;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-right: 240px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.nav-item {
    padding-right: 54px;
}
.wrapper {
    max-width: 1140px;
    margin: 50px;
    padding-left: 0;
    padding-right: 0;
    color: #2B3541;
}
.nav-link {
    color: #2B3541;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.nav-link:hover {
    color: #181F27;
    transition: 0.3s border-bottom ease;
    border-bottom: 1px solid;
}
.logo {
    position: relative;
}
.social {
    display: flex;
    padding-left: 30px;
    position: relative;
    left: 185px;
}
.main-title {
    bottom: 10px;
}
.Photo .girl {
    position: absolute;
    width: 996px;
    height: 852px;
    left: 564px;
    top: 140px
}
.arrow {
    padding-top: 50px;
}
.title-h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 121px;
    padding-left: 185px;
}
.title-h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    padding-top: 0px;
    padding-left: 185px;
}
.name {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    padding-left: 268px;
    margin-top: -17px;
}
button {
    background-color: #FBF138;
    border: none;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 150%;
    margin-left: 268px;
    transition: 0.3s ease;
}
button:hover {
    background: #2B3541;
    color: #FBF138;
    cursor: pointer;
}
.arrow {
    width: 52px;
    height: 55px;
    left: 273px;
    top: 157px;
    position: relative;
}
.section-about {
    padding-top: 200px;
    padding-bottom: 160px;
}
.about-item p {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    padding-left: 180px;
}
.Vebinar {
    display: flex;
    padding-left: 164px;
}
.Photo-1,
.Photo-2, 
.Photo-3 {
    position: relative;
    width: 367px;
    height: 600px;
    padding: 20px
}
.text-1 {
    top: -610px;
    right: -210px;
}
.text-2 {
    top: -652px;
    right: -620px;
}
.text-3 {
    top: -696px;
    right: -1030px;
}
.text-1,
.text-2,
.text-3 {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.6;
}
.text-4,
.text-5,
.text-6 {
    position: relative;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
}
.text-4 {
    top: -699px;
    right: -209px;
}
.box-item,
.box-item-1,
.box-item-2 {
    position: relative;
    width: 122px;
    height: 47px;
    background: #FBF138;
    text-align: center;
}